<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mate.bence.udalosti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/udalosti_logo"
        android:label="@string/nazov_aplikacie"
        android:roundIcon="@mipmap/udalosti_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AplikaciaBezToolbaru"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Activity.UvodnaObrazovka.UvodnaObrazovka"
            tools:ignore="InnerclassSeparator">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>