<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mate.bence.udalosti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/udalosti_logo"
        android:label="@string/nazov_aplikacie"
        android:roundIcon="@mipmap/udalosti_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AplikaciaBezToolbaru"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Activity.UvodnaObrazovka.UvodnaObrazovka"
            tools:ignore="InnerclassSeparator">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.RychlaUkazkaAplikacie.RychlaUkazkaAplikacie"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.Autentifikacia.Autentifikacia"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/UpravaFotky" />
        <activity
            android:name=".Activity.Navigacia.Navigacia"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".Nastroje.Odhlasenie"
            android:stopWithTask="false"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".Sluzby.Firebase"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>